/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px;
    color: #333;
}


/* Style the header */
header {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
}

/* Style the h1 inside the header */
header h1 {
    font-size: 24px; /* Set your desired font size */
}

/* Style the navigation menu */
nav {
    margin-top: 10px; /* Adjust margin as needed */
}

/* Style the list items in the navigation menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust margin as needed */
}

/* Style the links in the navigation menu */
nav a {
    text-decoration: none;
    color: #fff; /* Set your desired link color */
    font-weight: bold;
    font-size: 16px; /* Set your desired font size */
}

/* Change link color on hover */
nav a:hover {
    color: #ffd700; /* Set your desired hover color */
}

.github-link {
    margin-right: 10px; /* Adjust margin as needed */
}

.github-link i {
    font-size: 35px; /* Set your desired icon size */
    color: #ffffff; 
}

.title-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-body {
 padding: 1%;
 font-size: large;
}

.main-container {
    display: flex;
    
}

.sub-div {
    flex: 1;
    padding: 10px;
}

.sub-div:first-child {
    background-color: #f0f0f0;
}

.sub-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



#Subject-analysis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 5px;
    font-size: 16px;
    background-color: rgb(251, 255, 35);
    color: #540000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#graph-part-1{
    display: flex;
    justify-content: space-between;
    
}
#graph-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

#graph h4{
    margin-left: 25%;
}
#graph img{
    width: 75%;
    height:auto;   
}


#analysis-content{
    display: flex;
}
.first-inner-div {
    width: 65%;
    /* background-color: lightblue; Just for visibility */
    padding: 2%;
}

  .second-inner-div {
    width: 35%;
    /* background-color: lightgreen; Just for visibility */
    padding: 2%;
    word-wrap: break-word;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button :hover {
    color: yellow;
}

#code-container {
    margin-top: 20px; /* Added margin for better spacing */
    white-space: pre-wrap; /* Preserve line breaks */
    font-family: monospace; /* Use a monospaced font for code */
}

